<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 使用 spring-boot 配置需要 springProperty 标签 -->
    <springProperty scope="context" name="LOG_FILE_PATH" source="orange.log-path" defaultValue="logs" />

    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <!--local 作用域在配置文件内有效，context 作用域的有效范围延伸至 logger context，system 作用域的范围最广，整个 JVM 内都有效。-->
    <property name="level" scope="context" value="info"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE-ALL">
        <File>${LOG_FILE_PATH}/all.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/all.%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <append>true</append>
    </appender>

    <!-- root的level不能降低，否则会输出大量spring的debug日志 -->
    <root level="${level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-ALL"/>
    </root>

</configuration>