<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microastudio.iforms.modules.form.mapper.FormMapper">

    <resultMap id="QuestionTypeResultMap" type="com.microastudio.iforms.modules.form.domain.QuestionType">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="LanguageResultMap" type="com.microastudio.iforms.modules.form.domain.Language">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="FormResultMap" type="com.microastudio.iforms.modules.form.dto.FormDto">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="super_form_id" property="superFormId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="market_id" property="marketId" jdbcType="VARCHAR"/>
        <result column="dept_id" property="deptId" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="send_email" property="sendEmail" jdbcType="TINYINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
        <result column="include_section" property="includeSection" jdbcType="TINYINT"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR"/>
        <result column="language_description" property="languageDescription" jdbcType="VARCHAR"/>
        <collection property="sections" ofType="com.microastudio.iforms.modules.form.dto.SectionDto">
            <id column="section.id" property="id"/>
            <result column="section.super_section_id" property="superSectionId" jdbcType="VARCHAR"/>
            <result column="section.form_id" property="formId"/>
            <result column="section.title" property="title"/>
            <result column="section.description" property="description"/>
            <result column="section.sequence" property="sequence"/>
            <collection property="questions" ofType="com.microastudio.iforms.modules.form.domain.Question">
                <id column="question.id" property="id"/>
                <result column="question.super_question_id" property="superQuestionId" jdbcType="VARCHAR"/>
                <result column="question.section_id" property="sectionId"/>
                <result column="question.title" property="title"/>
                <result column="question.subtitle" property="subtitle"/>
                <result column="question.question_type_id" property="questionTypeId"/>
                <result column="question.mandatory" property="mandatory"/>
                <result column="question.sequence" property="sequence"/>
                <collection property="questionOptions"
                            ofType="com.microastudio.iforms.modules.form.domain.QuestionOption">
                    <id column="question_option.id" property="id"/>
                    <result column="question_option.super_option_id" property="superOptionId" jdbcType="VARCHAR"/>
                    <result column="question_option.question_id" property="questionId"/>
                    <result column="question_option.description" property="description"/>
                    <result column="question_option.sequence" property="sequence"/>
                    <result column="question_option.total_value" property="totalValue"/>
                    <result column="question_option.net_promoter_from" property="netPromoterFrom"/>
                    <result column="question_option.net_promoter_to" property="netPromoterTo"/>
                    <result column="question_option.is_active" property="isActive"/>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="AnswerResultMap" type="com.microastudio.iforms.modules.form.domain.Answer">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="form_id" property="formId" jdbcType="BIGINT"/>
        <result column="answer_id" property="answerId" jdbcType="BIGINT"/>
        <result column="question_id" property="questionId" jdbcType="BIGINT"/>
        <result column="answer_description" property="answerDescription" jdbcType="VARCHAR"/>
        <result column="answer_option_id" property="answerOptionId" jdbcType="BIGINT"/>
        <result column="answer_value" property="answerValue" jdbcType="VARCHAR"/>
        <result column="total_value" property="totalValue" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="reference" property="reference" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR"/>
        <association property="customer" javaType="com.microastudio.iforms.modules.form.domain.Customer">
            <id column="c_id" property="id"/>
            <result column="contact_no" property="contactNo"/>
            <result column="name" property="name"/>
            <result column="email" property="email"/>
        </association>
    </resultMap>

    <select id="selectQuestionType" resultMap="QuestionTypeResultMap">
        select * from question_type where is_active = 1
    </select>

    <select id="selectLanguage" resultMap="LanguageResultMap">
        select * from language where is_active = 1
    </select>

    <select id="selectClient" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `id` FROM `client` WHERE `name` = #{name} AND `token` = #{token} AND is_active = 1 limit 1
    </select>

    <select id="selectFormById" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
        T1.description as `language_description`
        FROM form LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`,
        section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        <if test="clientToken != null and clientToken != '' ">
            AND client.token = #{clientToken}
        </if>
        AND form.id = #{id,jdbcType=VARCHAR}
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByKey" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
        T1.description as `language_description`
        FROM form LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`,
        section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        <if test="clientToken != null and clientToken != '' ">
            AND client.token = #{clientToken}
        </if>
        AND form.super_form_id = #{superFormId,jdbcType=VARCHAR}
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByDeptAndMarket" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
        T1.description as `language_description`
        FROM form LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`,
        `section`, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE `section`.form_id = form.id
        AND question.section_id = `section`.id
        And form.client = client.id
        AND client.token = #{clientToken}
        AND form.`market_id` = #{marketId}
        AND ((form.dept_id = #{deptId}) OR (form.`level` = 'market' AND ifnull(form.`dept_id`,'') = ''))
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByUserId" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
        T1.description as `language_description`
        FROM form LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`,
        section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        <if test="clientToken != null and clientToken != '' ">
            AND client.token = #{clientToken}
        </if>
        AND form.created_by = #{userId,jdbcType=VARCHAR}
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByDept" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
        T1.description as `language_description`
        FROM form LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`,
        `section`, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE `section`.form_id = form.id
        AND question.section_id = `section`.id
        And form.client = client.id
        AND client.token = #{clientToken}
        AND form.dept_id = #{deptId,jdbcType=VARCHAR}
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByMarket" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
        T1.description as `language_description`
        FROM form LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`,
        section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        AND client.token = #{clientToken}
        AND form.level = 'market'
        AND form.market_id = #{marketId,jdbcType=VARCHAR}
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAnswersByAnswerId" parameterType="java.lang.String" resultMap="AnswerResultMap">
        SELECT `answer`.`answer_id`,
            `answer`.`id`,
            `answer`.`form_id`,
            `answer`.`question_id`,
            `answer`.`answer_description`,
            `answer`.`answer_option_id`,
            `answer`.`answer_value`,
            `answer`.`total_value`,
            `answer`.`reference`,
            `answer`.`created_by`,
            `answer`.`created_date`,
            `answer`.`modified_by`,
            `answer`.`modified_date`,
            `answer`.`language`,
            `customer`.`id` c_id,
            `customer`.`name`,
            `customer`.`email`,
            `customer`.`contact_no`
        FROM `answer`
        LEFT JOIN `customer`
        ON `customer`.`id` = `answer`.`customer_id`
        WHERE `answer`.`answer_id` = #{answerId};
    </select>

    <resultMap id="AnswerWithFormResultMap" type="com.microastudio.iforms.modules.form.dto.FormDto">
        <id column="id" property="id"/>
        <result column="super_form_id" property="superFormId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="market_id" property="marketId" jdbcType="VARCHAR"/>
        <result column="dept_id" property="deptId" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="send_email" property="sendEmail" jdbcType="TINYINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
        <result column="include_section" property="includeSection" jdbcType="TINYINT"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR"/>
        <result column="language_description" property="languageDescription" jdbcType="VARCHAR"/>
        <collection property="sections" ofType="com.microastudio.iforms.modules.form.dto.SectionDto">
            <id column="section.id" property="id"/>
            <result column="section.super_section_id" property="superSectionId" jdbcType="VARCHAR"/>
            <result column="section.form_id" property="formId"/>
            <result column="section.title" property="title"/>
            <result column="section.description" property="description"/>
            <result column="section.sequence" property="sequence"/>
            <collection property="questions" ofType="com.microastudio.iforms.modules.form.domain.Question">
                <id column="question.id" property="id"/>
                <result column="question.super_question_id" property="superQuestionId" jdbcType="VARCHAR"/>
                <result column="question.section_id" property="sectionId"/>
                <result column="question.title" property="title"/>
                <result column="question.subtitle" property="subtitle"/>
                <result column="question.question_type_id" property="questionTypeId"/>
                <result column="question.mandatory" property="mandatory"/>
                <result column="question.sequence" property="sequence"/>
                <collection property="questionOptions"
                            ofType="com.microastudio.iforms.modules.form.domain.QuestionOption">
                    <id column="question_option.id" property="id"/>
                    <result column="question_option.super_option_id" property="superOptionId" jdbcType="VARCHAR"/>
                    <result column="question_option.question_id" property="questionId"/>
                    <result column="question_option.description" property="description"/>
                    <result column="question_option.sequence" property="sequence"/>
                    <result column="question_option.total_value" property="totalValue"/>
                    <result column="question_option.net_promoter_from" property="netPromoterFrom"/>
                    <result column="question_option.net_promoter_to" property="netPromoterTo"/>
                    <result column="question_option.is_active" property="isActive"/>
                </collection>
            </collection>
        </collection>
        <collection property="answers" ofType="com.microastudio.iforms.modules.form.domain.Answer">
            <id column="answer.id" property="id"/>
            <result column="answer.answer_id" property="answerId"/>
            <result column="answer.form_id" property="formId"/>
            <result column="answer.question_id" property="questionId"/>
            <result column="answer.answer_description" property="answerDescription"/>
            <result column="answer.answer_option_id" property="answerOptionId"/>
            <result column="answer.answer_value" property="answerValue"/>
            <result column="answer.total_value" property="totalValue"/>
            <result column="answer.reference" property="reference"/>
            <result column="answer.customer_id" property="customerId"/>
        </collection>
    </resultMap>

    <select id="selectAnswersWithFormByAnswerId" resultMap="AnswerWithFormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
         T1.description as `language_description`,
        `answer`.`answer_id` as `answer.answer_id`,
        `answer`.`id` as `answer.id`,
        `answer`.`form_id` as `answer.form_id`,
        `answer`.`question_id` as `answer.question_id`,
        `answer`.`answer_description` as `answer.answer_description`,
        `answer`.`answer_option_id` as `answer.answer_option_id`,
        `answer`.`answer_value` as `answer.answer_value`,
        `answer`.`total_value` as `answer.total_value`,
        `answer`.`reference` as `answer.reference`,
        `answer`.`customer_id` as `answer.customer_id`
        FROM form
        LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`
        INNER JOIN answer ON form.id = answer.form_id AND `answer`.`answer_id` = #{answerId},
        section, client, question
        LEFT JOIN question_option ON question.id = question_option.question_id
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence, answer.id;
    </select>

    <select id="selectAnswers" resultMap="AnswerWithFormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`super_section_id` as `section.super_section_id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`super_question_id` as `question.super_question_id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`super_option_id` as `question_option.super_option_id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`,
        T1.description as `language_description`,
        `answer`.`answer_id` as `answer.answer_id`,
        `answer`.`id` as `answer.id`,
        `answer`.`form_id` as `answer.form_id`,
        `answer`.`question_id` as `answer.question_id`,
        `answer`.`answer_description` as `answer.answer_description`,
        `answer`.`answer_option_id` as `answer.answer_option_id`,
        `answer`.`answer_value` as `answer.answer_value`,
        `answer`.`total_value` as `answer.total_value`,
        `answer`.`reference` as `answer.reference`,
        `answer`.`customer_id` as `answer.customer_id`
        FROM form
        LEFT JOIN `language` T1 ON `form`.`language` = T1.`code`
        INNER JOIN answer ON form.id = answer.form_id
        <if test="month != null and month != '' ">
            AND date_format(answer.created_date,'%Y-%m') = #{month}
        </if>
        <if test="month == '' and from != null and from != '' ">
            AND date_format(answer.created_date,'%Y-%m-%d') BETWEEN #{from} AND #{to}
        </if>
        ,section, client, question
        LEFT JOIN question_option ON question.id = question_option.question_id
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        AND client.token = #{clientToken}
        AND form.`market_id` = #{marketId}
        AND ((form.dept_id = #{deptId}) OR (form.`level` = 'market' AND ifnull(form.`dept_id`,'') = ''))
        <if test="formId != null and formId != '' ">
            AND form.id = #{formId,jdbcType=VARCHAR}
        </if>
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence, answer.id;
    </select>

    <resultMap id="QuestionnaireOptionStatisticsResultMap"
               type="com.microastudio.iforms.modules.form.dto.QuestionnaireStatisticsDto">
        <result column="form_title" property="formTitle" jdbcType="VARCHAR"/>
        <result column="option_question_id" property="optionQuestionId" jdbcType="VARCHAR"/>
        <result column="question_type_id" property="questionTypeId" jdbcType="VARCHAR"/>
        <result column="option_description" property="optionDescription" jdbcType="VARCHAR"/>
        <result column="answer_value" property="answerValue" jdbcType="VARCHAR"/>
        <result column="total_number" property="totalNumber" jdbcType="VARCHAR"/>
        <result column="net_promoter_from" property="netPromoterFrom" jdbcType="VARCHAR"/>
        <result column="net_promoter_to" property="netPromoterTo" jdbcType="VARCHAR"/>
    </resultMap>

    <!--    '1','Choice': answer.answer_option_id-->
    <!--    '2','Multiple Choice': answer.answer_option_id-->
    <!--    '3','Text'-->
    <!--    '4','Rating': answer.answer_value-->
    <!--    '5','Date'-->
    <!--    '6','Net promoter score': answer.answer_value-->
    <select id="selectQuestionnaireOptionStatistics" resultMap="QuestionnaireOptionStatisticsResultMap">
        SELECT
        f.title as form_title,
        qo.question_id AS option_question_id,
        qt.id AS question_type_id,
        qo.description AS option_description,
        answer_value,
        net_promoter_from,
        net_promoter_to,
        COUNT(a.answer_option_id) as total_number
        FROM question_option qo
        LEFT JOIN question q ON qo.question_id = q.id
        LEFT JOIN section s ON q.section_id = s.id
        LEFT JOIN form f ON f.id = s.form_id
        LEFT JOIN question_type qt ON qt.id = q.question_type_id
        LEFT JOIN answer a ON a.answer_option_id = qo.id
        <if test="month != null and month != '' ">
            AND date_format(a.created_date,'%Y-%m') = #{month}
        </if>
        <if test="month == '' and from != null and from != '' ">
            AND date_format(a.created_date,'%Y-%m-%d') BETWEEN #{from} AND #{to}
        </if>
        WHERE
        <if test="formId != null and formId != '' ">
            f.id = #{formId,jdbcType=VARCHAR} AND
        </if>
        (qt.id = 1 OR qt.id = 2)
        AND f.`market_id` = #{marketId}
        AND ((f.dept_id = #{deptId}) OR (f.`level` = 'market' AND ifnull(f.`dept_id`,'') = ''))
        GROUP BY f.title, qo.question_id, qt.id, qo.description, answer_value, net_promoter_from, net_promoter_to
        UNION
        SELECT
        form_title,
        option_question_id,
        question_type_id,
        option_description,
        answer_value,
        net_promoter_from,
        net_promoter_to,
        COUNT(answer_value) as total_number
        FROM
        (SELECT
        f.title as form_title,
        c.description AS option_description,
        c.net_promoter_from AS net_promoter_from,
        c.net_promoter_to AS net_promoter_to,
        c.question_id AS option_question_id,
        a.*,
        b.question_type_id
        FROM answer a
        LEFT JOIN question b ON a.question_id = b.id
        LEFT JOIN question_option c ON b.id = c.question_id
        LEFT JOIN question_type qt ON qt.id = b.question_type_id
        LEFT JOIN section s ON s.id = b.section_id
        LEFT JOIN form f ON s.form_id = f.id
        WHERE
        <if test="formId != null and formId != '' ">
            f.id = #{formId,jdbcType=VARCHAR} AND
        </if>
        <if test="month != null and month != '' ">
            date_format(a.created_date,'%Y-%m') = #{month} AND
        </if>
        <if test="month == '' and from != null and from != '' ">
            date_format(a.created_date,'%Y-%m-%d') BETWEEN #{from} AND #{to}
            AND
        </if>
        (qt.id = 4 OR qt.id = 6)
        AND f.`market_id` = #{marketId}
        AND ((f.dept_id = #{deptId}) OR (f.`level` = 'market' AND ifnull(f.`dept_id`,'') = ''))
        ) cte2
        GROUP BY form_title, option_question_id, question_type_id, option_description, answer_value, net_promoter_from,
        net_promoter_to
        ORDER BY option_question_id;
    </select>

    <resultMap id="QuestionnaireStatisticsResultMap"
               type="com.microastudio.iforms.modules.form.dto.QuestionnaireStatisticsDto">
        <result column="form_title" property="formTitle" jdbcType="VARCHAR"/>
        <result column="answer_month" property="month" jdbcType="VARCHAR"/>
        <result column="total_number" property="totalNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectQuestionnaireStatistics" resultMap="QuestionnaireStatisticsResultMap">
        SELECT T.`super_form_id`, F.`title`, T.`answer_month`, COUNT(T.`super_form_id`) AS total_number FROM
        ( SELECT DISTINCT `answer`.`answer_id`, `answer`.`super_form_id`, date_format(`created_date`,'%Y-%m') AS
        `answer_month`
        FROM `iforms`.`answer`
        WHERE date_format(`created_date`,'%Y-%m-%d') BETWEEN #{from} AND #{to}
        ) T
        INNER JOIN `form` F
        ON F.`super_form_id` = T.`super_form_id`
        AND F.`language` = 'en-us'
        <if test="formId != null and formId != '' ">
            AND F.id = #{formId,jdbcType=VARCHAR}
        </if>
        AND F.`market_id` = #{marketId}
        AND ((F.dept_id = #{deptId}) OR (F.`level` = 'market' AND ifnull(F.`dept_id`,'') = ''))
        GROUP BY `super_form_id`, `title`, `answer_month`
        ORDER BY `super_form_id`, `title`, `answer_month`;
    </select>

    <insert id="insertQuestion" parameterType="com.microastudio.iforms.modules.form.domain.Question"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `question`
        (`super_question_id`,
        `section_id`,
        `title`,
        `subtitle`,
        `question_type_id`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `language`,
        `mandatory`,
        `sequence`)
        VALUES
        (#{superQuestionId},
        #{sectionId},
        #{title},
        #{subtitle},
        #{questionTypeId},
        #{createdBy},
        now(),
        #{modifiedBy},
        now(),
        #{language},
        #{mandatory},
        #{sequence})
    </insert>

    <insert id="insertQuestionOption" parameterType="com.microastudio.iforms.modules.form.domain.QuestionOption"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `question_option`
        (`super_option_id`,
        `question_id`,
        `description`,
        `sequence`,
        `total_value`,
        `net_promoter_from`,
        `net_promoter_to`,
        `language`)
        VALUES
        (#{superOptionId},
        #{questionId},
        #{description},
        #{sequence},
        #{totalValue},
        #{netPromoterFrom},
        #{netPromoterTo},
        #{language})
    </insert>

    <insert id="insertSection" parameterType="com.microastudio.iforms.modules.form.domain.Section"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `section`
        (`super_section_id`,
        `form_id`,
        `title`,
        `description`,
        `sequence`)
        VALUES
        (#{superSectionId},
        #{formId},
        #{title},
        #{description},
        #{sequence})
    </insert>

    <insert id="insertForm" parameterType="com.microastudio.iforms.modules.form.domain.Form"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `form`
        (`super_form_id`,
        `title`,
        `description`,
        `level`,
        `market_id`,
        `dept_id`,
        `client`,
        `send_email`,
        `type`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `language`,
        `include_section`)
        VALUES
        (#{superFormId},
        #{title},
        #{description},
        #{level},
        #{marketId},
        #{deptId},
        #{client},
        #{sendEmail},
        #{type},
        #{createdBy},
        now(),
        #{modifiedBy},
        now(),
        #{language},
        #{includeSection})
    </insert>

    <insert id="insertAnswer" parameterType="java.util.List">
        INSERT INTO `answer`
        (`answer_id`,
        `form_id`,
        `super_form_id`,
        `super_question_id`,
        `super_option_id`,
        `question_id`,
        `answer_description`,
        `answer_option_id`,
        `answer_value`,
        `total_value`,
        `reference`,
        `language`,
        `customer_id`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`)
        VALUES
        <foreach collection="list" index="index" separator="," item="item">
            (#{item.answerId},
            #{item.formId},
            #{item.superFormId},
            #{item.superQuestionId},
            #{item.superOptionId},
            #{item.questionId},
            #{item.answerDescription},
            #{item.answerOptionId},
            #{item.answerValue},
            #{item.totalValue},
            #{item.reference},
            #{item.language},
            #{item.customerId},
            #{item.createdBy},
            now(),
            #{item.modifiedBy},
            now())
        </foreach>
    </insert>

    <insert id="insertCustomer" parameterType="com.microastudio.iforms.modules.form.domain.Customer"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `customer`
        (`name`,
        `email`,
        `contact_no`)
        VALUES
        (#{name},
        #{email},
        #{contactNo})
    </insert>
</mapper>
