<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microastudio.iforms.modules.form.mapper.FormMapper">

    <resultMap id="QuestionTypeResultMap" type="com.microastudio.iforms.modules.form.domain.QuestionType">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="LanguageResultMap" type="com.microastudio.iforms.modules.form.domain.Language">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="FormResultMap" type="com.microastudio.iforms.modules.form.dto.FormDto">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="super_form_id" property="superFormId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="market_id" property="marketId" jdbcType="VARCHAR"/>
        <result column="dept_id" property="deptId" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="send_email" property="sendEmail" jdbcType="TINYINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
        <result column="include_section" property="includeSection" jdbcType="TINYINT"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR"/>
        <collection property="sections" ofType="com.microastudio.iforms.modules.form.dto.SectionDto">
            <id column="section.id" property="id"/>
            <result column="section.form_id" property="formId"/>
            <result column="section.title" property="title"/>
            <result column="section.description" property="description"/>
            <result column="section.sequence" property="sequence"/>
            <collection property="questions" ofType="com.microastudio.iforms.modules.form.domain.Question">
                <id column="question.id" property="id"/>
                <result column="question.section_id" property="sectionId"/>
                <result column="question.title" property="title"/>
                <result column="question.subtitle" property="subtitle"/>
                <result column="question.question_type_id" property="questionTypeId"/>
                <result column="question.mandatory" property="mandatory"/>
                <result column="question.sequence" property="sequence"/>
                <collection property="questionOptions"
                            ofType="com.microastudio.iforms.modules.form.domain.QuestionOption">
                    <id column="question_option.id" property="id"/>
                    <result column="question_option.question_id" property="questionId"/>
                    <result column="question_option.description" property="description"/>
                    <result column="question_option.sequence" property="sequence"/>
                    <result column="question_option.total_value" property="totalValue"/>
                    <result column="question_option.net_promoter_from" property="netPromoterFrom"/>
                    <result column="question_option.net_promoter_to" property="netPromoterTo"/>
                    <result column="question_option.is_active" property="isActive"/>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="AnswerResultMap" type="com.microastudio.iforms.modules.form.domain.Answer">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="form_id" property="formId" jdbcType="BIGINT"/>
        <result column="answer_id" property="answerId" jdbcType="BIGINT"/>
        <result column="question_id" property="questionId" jdbcType="BIGINT"/>
        <result column="answer_description" property="answerDescription" jdbcType="VARCHAR"/>
        <result column="answer_option_id" property="answerOptionId" jdbcType="BIGINT"/>
        <result column="answer_value" property="answerValue" jdbcType="VARCHAR"/>
        <result column="total_value" property="totalValue" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="reference" property="reference" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR"/>
        <association property="customer" javaType="com.microastudio.iforms.modules.form.domain.Customer">
            <id column="c_id" property="id"/>
            <result column="contact_no" property="contactNo"/>
            <result column="name" property="name"/>
            <result column="email" property="email"/>
        </association>
    </resultMap>

    <select id="selectQuestionType" resultMap="QuestionTypeResultMap">
        select * from question_type where is_active = 1
    </select>

    <select id="selectLanguage" resultMap="LanguageResultMap">
        select * from language where is_active = 1
    </select>

    <select id="selectClient" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `token` FROM `client` WHERE `name` = #{key} AND is_active = 1 limit 1
    </select>

    <select id="selectAllFormsByKey" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`
        FROM form, section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        <if test="clientToken != null and clientToken != '' ">
            AND client.token = #{clientToken}
        </if>
        <if test="superFormId != null and superFormId != '' ">
            AND form.super_form_id = #{superFormId,jdbcType=VARCHAR}
        </if>
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByUserId" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`
        FROM form, section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        <if test="clientToken != null and clientToken != '' ">
            AND client.token = #{clientToken}
        </if>
        AND form.created_by = #{userId,jdbcType=VARCHAR}
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByDept" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`
        FROM form, section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        <if test="clientToken != null and clientToken != '' ">
            AND client.token = #{clientToken}
        </if>
        <if test="deptId != null and deptId != '' ">
            AND form.dept_id = #{deptId,jdbcType=VARCHAR}
        </if>
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllFormsByMarket" parameterType="java.lang.String" resultMap="FormResultMap">
        SELECT form.*,
        `section`.`id` as `section.id`,
        `section`.`form_id` as `section.form_id`,
        `section`.`title` as `section.title`,
        `section`.`description` as `section.description`,
        `section`.`sequence` as `section.sequence`,
        `section`.`is_active` as `section.is_active`,
        `question`.`id` as `question.id`,
        `question`.`section_id` as `question.section_id`,
        `question`.`title` as `question.title`,
        `question`.`subtitle` as `question.subtitle`,
        `question`.`question_type_id` as `question.question_type_id`,
        `question`.`is_active` as `question.is_active`,
        `question`.`mandatory` as `question.mandatory`,
        `question`.`sequence` as `question.sequence`,
        `question_option`.`id` as `question_option.id`,
        `question_option`.`question_id` as `question_option.question_id`,
        `question_option`.`description` as `question_option.description`,
        `question_option`.`sequence` as `question_option.sequence`,
        `question_option`.`total_value` as `question_option.total_value`,
        `question_option`.`net_promoter_from` as `question_option.net_promoter_from`,
        `question_option`.`net_promoter_to` as `question_option.net_promoter_to`,
        `question_option`.`is_active` as `question_option.is_active`
        FROM form, section, client, question
        LEFT JOIN question_option
        ON (question.id = question_option.question_id AND question_option.is_active = 1)
        WHERE section.form_id = form.id
        AND question.section_id = section.id
        And form.client = client.id
        <if test="clientToken != null and clientToken != '' ">
            AND client.token = #{clientToken}
        </if>
        <if test="marketId != null and marketId != '' ">
            AND form.level = 'market'
            AND form.market_id = #{marketId,jdbcType=VARCHAR}
        </if>
        AND form.is_active = 1
        AND section.is_active = 1
        AND question.is_active = 1
        And client.is_active = 1
        ORDER BY form.id, question.section_id, question.sequence, question_option.sequence
    </select>

    <select id="selectAllAnswersByKey" parameterType="java.lang.String" resultMap="AnswerResultMap">
        SELECT `answer`.`answer_id`,
            `answer`.`id`,
            `answer`.`form_id`,
            `answer`.`question_id`,
            `answer`.`answer_description`,
            `answer`.`answer_option_id`,
            `answer`.`answer_value`,
            `answer`.`total_value`,
            `answer`.`reference`,
            `answer`.`created_by`,
            `answer`.`created_date`,
            `answer`.`modified_by`,
            `answer`.`modified_date`,
            `answer`.`language`,
            `customer`.`id` c_id,
            `customer`.`name`,
            `customer`.`email`,
            `customer`.`contact_no`
        FROM `iForms`.`answer`
        LEFT JOIN `iForms`.`customer`
        ON `customer`.`id` = `answer`.`customer_id`
        WHERE `answer`.`answer_id` = #{answerId};
    </select>

    <insert id="insertQuestion" parameterType="com.microastudio.iforms.modules.form.domain.Question"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `question`
        (`section_id`,
        `title`,
        `subtitle`,
        `question_type_id`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `language`,
        `mandatory`,
        `sequence`)
        VALUES
        (#{sectionId},
        #{title},
        #{subtitle},
        #{questionTypeId},
        #{createdBy},
        now(),
        #{modifiedBy},
        now(),
        #{language},
        #{mandatory},
        #{sequence})
    </insert>

    <insert id="insertQuestionOption" parameterType="com.microastudio.iforms.modules.form.domain.QuestionOption"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `question_option`
        (`question_id`,
        `description`,
        `sequence`,
        `total_value`,
        `net_promoter_from`,
        `net_promoter_to`,
        `language`)
        VALUES
        (#{questionId},
        #{description},
        #{sequence},
        #{totalValue},
        #{netPromoterFrom},
        #{netPromoterTo},
        #{language})
    </insert>

    <insert id="insertSection" parameterType="com.microastudio.iforms.modules.form.domain.Section"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `section`
        (`form_id`,
        `title`,
        `description`,
        `sequence`)
        VALUES
        (#{formId},
        #{title},
        #{description},
        #{sequence})
    </insert>

    <insert id="insertForm" parameterType="com.microastudio.iforms.modules.form.domain.Form"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `form`
        (`super_form_id`,
        `title`,
        `description`,
        `level`,
        `market_id`,
        `dept_id`,
        `client`,
        `send_email`,
        `type`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`,
        `language`,
        `include_section`)
        VALUES
        (#{superFormId},
        #{title},
        #{description},
        #{level},
        #{marketId},
        #{deptId},
        #{client},
        #{sendEmail},
        #{type},
        #{createdBy},
        now(),
        #{modifiedBy},
        now(),
        #{language},
        #{includeSection})
    </insert>

    <!--    <insert id="insertFormQuestionMapping" parameterType="com.microastudio.modules.iforms.domain.FormQuestionMapping">-->
    <!--        INSERT INTO `form_question`-->
    <!--        (`form_id`,-->
    <!--        `section_id`,-->
    <!--        `question_id`,-->
    <!--        `language`,-->
    <!--        `super_form_id`)-->
    <!--        VALUES-->
    <!--        (#{formId},-->
    <!--        #{sectionId},-->
    <!--        #{questionId},-->
    <!--        #{language},-->
    <!--        #{superFormId})-->
    <!--    </insert>-->

    <insert id="insertAnswer" parameterType="java.util.List">
        INSERT INTO `answer`
        (`answer_id`,
        `form_id`,
        `question_id`,
        `answer_description`,
        `answer_option_id`,
        `answer_value`,
        `total_value`,
        `reference`,
        `language`,
        `customer_id`,
        `created_by`,
        `created_date`,
        `modified_by`,
        `modified_date`)
        VALUES
        <foreach collection="list" index="index" separator="," item="item">
            (#{item.answerId},
            #{item.formId},
            #{item.questionId},
            #{item.answerDescription},
            #{item.answerOptionId},
            #{item.answerValue},
            #{item.totalValue},
            #{item.reference},
            #{item.language},
            #{item.customerId},
            #{item.createdBy},
            now(),
            #{item.modifiedBy},
            now())
        </foreach>
    </insert>

    <insert id="insertCustomer" parameterType="com.microastudio.iforms.modules.form.domain.Customer"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `customer`
        (`name`,
        `email`,
        `contact_no`)
        VALUES
        (#{name},
        #{email},
        #{contactNo})
    </insert>
</mapper>
